body{
  display: grid;
  place-content: center;
}

.content{
  position: relative;
  max-width: 550px;
  background: var(--Dark-Grayish-Blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  margin: 1rem;
  border-radius: 15px;
  text-align: center;
}

.advice-id{
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--Neon-Green);
}

.advice-txt{
  margin-block: 1.5rem;
}


.divider{
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}


.dice-btn{
  background: var(--Neon-Green);
  position: absolute;
  padding: 1.2rem;
  border-radius: 50%;
  bottom: -2rem;
  cursor: pointer;
  transition: 200ms ease;
}

.dice-btn:hover{
  box-shadow: 0 0 32px 0 hsl(150, 100%, 66%);

}

.dice{
  height: 23px;
}
