main{
    margin: 0 2rem;
}

.main-container{
    display: flex;
    gap: 2.5rem;
    height: 80vh;
    width: 100%;
}


/* col-1 start */

h2, p,h3, h4{
    color: var(--Very-dark-blue);
}


.col-1{
    display: flex;
    flex-direction: column;
    width: 65%;
}


.col-1 .img-container img{
    width: 100%;
    min-width: 450px;
    height: 100%;
}
.col-1 .img-container {
    flex: 1;
    flex-shrink: 0;
    
}
.col-1 .details-box{
    display: flex;
}
.col-1 .details-box h2{
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    
}
.col-1  .details-box .txt-wrapper{
    margin-top: 2rem;
}

.col-1 .desc{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 2rem;

}

.col-1 .desc button{
    padding: 1rem 2rem;
    background: var(--Soft-red);
    border: none;
    cursor: pointer;
}

/* col-1 end */

.col-2{
    background: var(--Very-dark-blue); 
    padding: 2rem;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.col-2 .info{
    padding: 2rem 0;
    border-bottom: 1px solid;
    border-color: var(--Grayish-blue);

}

.col-2 h2{
    color: var(--Soft-orange);
    font-size: 2.5rem;
    height: 10%;
    margin: 0;
}
.col-2 h3{
    color: var( --Off-white);
    margin: 0;
}
.col-2 h3 + p{
    color: var( --Grayish-blue);
    margin-top: 1rem;
}

/* col 2 end */


/* footer */

.footer{
    display: flex;
    margin-top: 4rem;
    width: 100%;
    gap: 2.5rem;

}

.card{
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.info-details{
    padding: 0;

}

.card .info-details h2{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    color: var(--Grayish-blue);
}
.card .info-details  p:nth-child(2){
    margin-top: 2rem;
    font-weight: bolder;
    font-size: 1.3rem;

}
.card .info-details  p:nth-child(3){
    font-size: 1.1rem;

}


@media screen and (max-width: 781px){
    .main-container{
        width: 680px;
    }
    .details-box{
        height: 50%;
    }
    .details-box .txt-wrapper h2{
        margin: 0;
        font-size: 2.2rem;
    }

    
    .col-2{
        padding: 1.2rem;
    }

    .col-2 h2{
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .col-2 h3{
        font-size: 1rem;
        margin-bottom: 10px;

    }
    
    .col-2 .info p{
        font-size: .80rem;
        margin: 0;

    }
   
    .col-2 .info{
        height: 20%;
        padding: 0;
        font-size: 1rem;
    }
    .col-2 .info:nth-child(3){
        min-height: 20%;
        padding-bottom: 2.9rem;
        font-size: 1rem;
    }

    .col-2 .info-last{
        height: 25%;
        padding-top: 1rem;
    }
    .col-2 .info-last p{
        font-size: .80rem;
        margin: 0;

    }

    .footer .card{
        min-width: 200px;
        display: block;
    }

    .footer .card .info-details p{
        font-size: 1rem;
    }

}


/* mobile */
@media (max-width: 375px){
    .main-container{
    width: 100%;
     flex-direction: column;
    }

    .col-1{
        width: 100%;
    }

    .details-box{
        flex-direction: column;
    }

    .col-2{
        width: 100%;
    }

    .footer{
        flex-direction: column;
    }
}